<mjml>
    <mj-head>
        <mj-title>TITLE</mj-title>
    </mj-head>
    <mj-body>
        <mj-section full-width="full-width" background-color="#0A0A0A" border-bottom="1px solid white">
            <mj-column vertical-align="middle" width="30%">
                <mj-image src="https://rest.cloud-in.space/empire/image/logo" alt="Empire logo" width="70px"></mj-image>
            </mj-column>
            <mj-column vertical-align="middle" width="35%">
                <mj-text align="center" font-size="30px" color="#FFF">The Empire</mj-text>
            </mj-column>
            <mj-column vertical-align="middle" width="35%">
                <mj-text align="center" font-size="20px" color="#A4A7AB">Mail validation</mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-url="https://rest.cloud-in.space/empire/image/background" vertical-align="middle" background-size="cover" full-width="full-width" background-repeat="no-repeat" background-color="#000">
            <mj-column width="100%" vertical-align="middle">
                <mj-text align="center" font-size="30px" color="#FFF" padding-bottom="10px" padding-top="45px">
                    WELCOME
                </mj-text>
                <mj-text align="center" font-size="14px" color="#FFF">
                    SHORT_DESCRIPTION
                </mj-text>
                <mj-button align="center" background-color="#FFF" color="#000" border-radius="24px" href="BUTTON_ACTION" padding-bottom="45px" padding-top="10px">
                    BUTTON_NAME
                </mj-button>
                <mj-text align="center" font-size="14px" color="#A4A7AB" padding-bottom="10px">
                    ERROR_DESCRIPTION
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section full-width="full-width" background-color="#000">
            <mj-column width="100%" vertical-align="middle">
                <mj-text align="center" font-size="11px" padding-bottom="5px" padding-top="0" color="#A4A7AB">
                    FOOTER
                </mj-text>
                <mj-text align="center" font-size="11px" padding-bottom="0" padding-top="0" color="#A4A7AB">
                    Copyright © COPYRIGHT. Michael Schmitz
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
